$black-colors: (
  1: #1E1E1E,
  2: #565656,
  3: #7D7D7D,
  4: #A7A7A7,
  5: #CBCBCB,
  6: #E5E5E5,
  7: #F4F4F4,
  8: #FFFFFF,
);

$grey-colors: (
  3: #D4D4D4,
  7: #777777,
);

$primary-colors: (
  1: #081D5F,
  2: #2050E7,
  3: #96AEFB,
);

$orange-colors: (
  1: #B26008,
  2: #F28B1D,
  3: #FFC17F,
);

$general-colors: (
  'black': $black-colors,
  'orange': $orange-colors,
  'primary': $primary-colors,
  'grey': $grey-colors
);
