// dark model general color
// https://www.figma.com/design/fFjhP0zsFx564XEM525yoa/[3.0]%E5%85%B1%E7%94%A8DSM?node-id=4681-28299&t=iEwUmviZSVfFFvid-0

$yellow-colors: (
  1: #ffb500,
  2: #ffbc15,
);
$green-colors: (
  1: #80b100,
  2: #6d9600,
  3: #5a7d00,
  4: #66bb4c,
  5: #00a789,
  6: #0cd39b,
);

$red-colors: (
  1: #cb0202,
  2: #b30202,
  3: #990202,
  4: #ea4c4c,
  5: #ff508e,
  6: #c80000,
  7: #feeaea,
  8: #f03131,
  9: #ef8671,
  10: #ff0000,
  11: #9b2727,
  12: #cd321e,
  13: #ff9191,
  14: #eb0000,
  15: #e64242,
  16: #ff4e4a,
  17: #d2b497,
  18: #e02020,
  19: #a51100,
);

$black-colors: (
  // updated
  1: #ffffff,
  // updated
  2: #999999,
  // updated
  3: #707070,
  //updated
  4: #666666,
  // updated
  5: #575757,
  // updated
  6: #2C2C2C,
  7: #000000,
  //!以下色號不存在於UI系統定內，需避免使用，若設計圖上出現請優先與UI確認是否為人工誤植，應統一使用定義內色號
  8: #adadad,
  9: #424242,
  10: #d3d3d3,
  11: #f9f9f9,
  12: #f2f2f2,
  13: #d8d8d8,
  14: #d6d6d6,
  15: #f6f9fd,
  16: #3a3a3a,
  17: #f2f2f2,
  18: #bfc5cd,
  19: #b9c6d7,
  20: #3e3e3e,
  21: #363636,
  22: #363636,
  23: #181818,
  24: #f7f7f7,
  25: #f5f5f5,
  26: #4c4d4e,
  27: #000000,
  28: #737373,
  29: #ededed,
  30: #fcfcfc,
  31: #b9ddff,
  32: #c8c8c8,
  33: #f8f8f8,
  34: #232323,
  35: #9b9b9b,
  36: #dfe5f1,
  37: #323232,
  38: #f3f3f3,
  39: #fafbff,
  40: #575757,
  41: #f1f2f3,
  42: #e5e5e5,
  43: #f4f4f4,
  44: #efefef,
  45: #121212,
  46: #cccccc,
  47: #e4e4e4,
  48: #464646,
  49: #555555,
  50: #a7a7a7,
  51: #e1e1e1
);

$brown-colors: (
  1: #ba5c00,
);

$orange-colors: (
  1: #ff7a00,
  2: #ffb500,
  3: #ffeab8,
  4: #f58918,
  5: #ff6800,
  6: #ff7f13,
  7: #faaa4d,
  8: #f4b840,
  9: #c8b7a4,
  10: #f4dfc8,
);

$layer-colors: (
  // updated
  1: #000000,
  // updated
  2: #000000,
  // updated
  3: #1F1F1F,
  // updated
  4: #2C2C2C,
  // updated
  5: #2C2C2C,
  // updated
  6: #575757,
  // updated
  7: #252525,
  8: #000050,
);

$blue-colors: (
  1: #edf1f9,
  2: #e1e8f6,
  3: #bad6f0,
  4: #3e98c7,
  5: #209cff,
  6: #1860ed,
  7: #e8f4ff,
  8: #badeff,
  9: #2f5890,
  10: #0c186c,
  11: #ecf4fd,
  12: #3c7cb8,
  13: #b1d7ed,
  14: #204b93,
  15: #4c9eea,
  16: #209ad6,
  17: #0068ff,
  18: #4aa8ff,
  19: #29dbe6,
  20: #088ac0,
  21: #347bee,
  22: #5054ff,
  23: #50bdff,
  24: #29bde6,
  25: #5068ff,
  26: #4c9eea,
  27: #959595,
  28: #abb5ff,
  29: #edf5fd,
  30: #4dabf2,
  31: #4c9ee9,
  32: #4b9ee9,
  33: #38b4ff,
  34: #1990ff,
  35: #336b9e,
  36: #40b8f4,
  37: #333745,
  38: #448dd1,
  39: #4368db,
  40: #3666ff,
);

$purple-colors: (
  1: #dfa1ff,
);

$pastel-colors: (
  1: #c7b0eb,
  2: #c7c2c2,
  3: #eee1a5,
  4: #bdddec,
  5: #cbeecf,
  6: #f8aaaa,
  7: #ccb8a1,
);

$general-colors: (
  'yellow': $yellow-colors,
  'green': $green-colors,
  'red': $red-colors,
  'black': $black-colors,
  'brown': $brown-colors,
  'orange': $orange-colors,
  'blue': $blue-colors,
  'purple': $purple-colors,
  layer: $layer-colors,
  pastel: $pastel-colors,
);
