$black-colors: (
  1: #1E1E1E,
  2: #777777,
  3: #A7A7A7,
  4: #D4D4D4,
  5: #EFEFEF,
  6: #FFFFFF,
);

$primary-colors: (
  1: #081D5F,
  2: #2050E7,
  3: #96AEFB,
);

$orange-colors: (
  1: #B26008,
  2: #F28B1D,
  3: #FFC17F,
);

$general-colors: (
  'black': $black-colors,
  'orange': $orange-colors,
  'primary': $primary-colors,
);
