.component-overlay {
  &__backdrop {
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    &--hide {
      backdrop-filter: blur(0);
      -webkit-backdrop-filter: blur(0);
    }
  }
}
